%tr
  %td{title: task.name}
    - if task.new_record?
      = text_field_tag 'task[name]', task.name, id: 'new_task_name', placeholder: 'Task Name'
    - else
      = task.name

  - possible_occurrences.each_with_index do |possible_occurrence, index|
    %td
      - if possible_occurrence.new_record?
        = simple_form_for [@report, possible_occurrence], wrapper: :inline_form  do |f|
          -# = debug(f.object)
          = hidden_field_tag 'task[name]', task.name
          = f.hidden_field :task_id
          = f.hidden_field :started_at
          = f.button :submit, 'O'

      - else
        = button_to "X", possible_occurrence, method: :delete
