%tr
  %td{title: task.name}
    - if task.new_record?
      = text_field_tag 'task[name]', task.name, id: 'new_task_name', placeholder: 'Task Name'
    - else
      = link_to task.name, edit_task_path(task), title: "Edit #{task.name}"

  - possible_occurrences.each do |started_at, possible_occurrence|
    %td
      - if possible_occurrence.new_record?
        = simple_form_for [report, possible_occurrence], wrapper: :inline_form  do |f|
          -# = debug(f.object)
          = hidden_field_tag 'task[name]', task.name
          = f.hidden_field :task_id
          = f.hidden_field :started_at
          = f.button :submit, 'O', class: 'round', title: 'Create'

      - else
        = button_to 'X', possible_occurrence, class: 'button round warning', method: :delete, title: 'Remove'
