%h1
  Tracking #{@report.started_at.strftime("%a, %e %b %Y %H:%M:%S %z")}

%section#tasks
  %table.table.hover{role: "grid"}
    %thead
      %th Task Name
      - for occurrence in @report.possible_occurrences('header')
        %th= occurrence.started_at.strftime('%H:%M')
    %tbody
      - for task in @report.tasks
        %tr
          %td
            = task.name

          - @report.possible_occurrences(task).each_with_index do |possible_occurrence, index|
            %td
              - if possible_occurrence.new_record?
                = simple_form_for [@report, possible_occurrence], wrapper: :inline_form  do |f|
                  -# = debug(f.object)
                  -# = hidden_field_tag 'task[name]', task.name
                  = f.hidden_field :task_id
                  = f.hidden_field :started_at
                  = f.button :submit, 'O'

              - else
                = button_to "X", possible_occurrence, method: :delete
